.comingSoon div {
    border: .5rem solid grey;
    border-radius: 2rem;
    backface-visibility: visible;
    background-color: black;
    box-sizing: border-box;
    padding-top: 2rem;
}

.comingSoon h3 {
    color: white;
    text-align: center;
}

.comingSoon p {
    color: lightgray;
    text-shadow: #AAAAAA;
    text-align: center;
    padding-left: .5rem;
}