/* This rule makes everything use border-box sizing which is desireable. With border-box sizing,
        padding is not added to the width. For example, if you make the footer 100% and it has some padding,
        you'll see a horizontal because the footer becomes a little wider than 100%                            */
* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    background-size: cover;
    font-family: Arial, serif;
    background-repeat: round; /* light grey - will show through the content area */
}



a {
    color: goldenrod;
    text-align: center;
}

#titleNav {

    position: sticky;
    top:0.2rem;
    left:0.2rem;
    text-align: center;
    width:100%;  /* changing to position fixed, you need to add 100% if you want to fill the width */

    /* the next two rules will layout the title followed by the nav side by side in a row */
    display:flex;
    flex-direction: column;
    padding: 1rem;
    background-color: cadetblue;
    z-index:1;

    /* give a little "3D"  effect to the edges of titleNav and footer */
    box-shadow: 0 0 5px black;
}

#title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .25rem; /* spaces out letters a bit */
    white-space: nowrap;  /* don't allow the title to wrap */
}

#nav {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-right: 2rem;
    white-space: nowrap;  /* don't allow nav links to wrap */
    text-align: right;
}

#nav a {
    text-decoration:none;  /* Do not want links in "nav" to be underlined */
    color: black;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

iframe{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1rem;
    display: block;
}

img{
    width: 40%;
    margin: 0 auto;
    padding-bottom: 1rem;
    display: block;
}

#content {
    /* make sure fixed footer doesn't cover up any content */
    font-size: 1.15rem;
    line-height: 2rem;
}

#footer {
    background-color: cadetblue;

    /* give a little "3D"  effect to the edges of titleNav and footer */
    box-shadow: 0px 0px 5px #888888;

    padding: 0.5rem;

    font-size: 1rem;
    font-family: Arial, serif;
    text-align: center;

    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1; /* make sure footer is on top of content which would have default z-index value of 0 */
    width: 100%;    /* fixed elements don't fill out the width automatically, so set the width */
}

.indent {
    margin-left: 1.5rem;
}

pre {
    margin-bottom:1.5rem;
    margin-right: 2rem;
    margin-left: 1rem;
    line-height:1.25rem;
    font-size: 0.95rem;

    padding:0.5rem;
    padding-left:0rem;
    background-color: #CCCCDD;

    border-radius: 0.25rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.4);
}

/* when a ul is right after a p, make the ul have a negative top margin.*/
p + ul {
    margin-top:-1rem; /*Just a side comment, I really like this idea!*/
}

/* desktop only */
@media only screen and (min-width: 40rem) {

    /* in desktop the titleNav is not as tall, so less top margin needed to prevent titleNav from hiding top of for content */
    #content {
        padding-top:4rem; /* less padding is needed in desktop to make sure fixed titleNav does not cover up any content */
    }

    #titleNav {
        /* flex attributes */
        flex-direction: row;
        justify-content: space-between; /* flex attribute will push title left and nav right, with "space between" */
    }
}